{% extends "layout.html" %}
{% block content %}
<h2>Přidat výdaj</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="mb-3">{{ form.name.label }}{{ form.name(class="form-control") }}</div>
    <div class="mb-3">{{ form.amount.label }}{{ form.amount(class="form-control") }}</div>
    <div class="mb-3">{{ form.category.label }}{{ form.category(class="form-select") }}</div>
    <div class="mb-3">{{ form.date.label }}{{ form.date(class="form-control") }}</div>
    {{ form.submit(class="btn btn-success") }}
</form>
{% endblock %}